<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthassist">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.ReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".Activities.AudioActivity" />
        <activity android:name=".MainActivity">
        </activity>

        <activity
            android:name=".Views.First"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Views.Primary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AboutApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.O2Result"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.BloodPressureResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.HeartRateResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.RespirationResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.HeartRateProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.BloodPressureProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.O2Process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.RespirationProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.StartVitalSigns"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.VitalSignsProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.VitalSignsResults"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivities.SignUpActivity" />
        <activity android:name=".LoginActivities.OTP_Activity" />
        <activity android:name=".LoginActivities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivities.IntroScreen" />
        <activity android:name=".LoginActivities.PhoneAuthActivity" />
        <activity android:name=".GraphView.GraphActivity" />
        <activity android:name=".Views.ProfileActivity" />
    </application>

</manifest>